body {
    margin: 0;
}
.intro {
    position: relative;
    height: 24rem;
    will-change: contents;
}
@media (min-width: 768px) {
    .intro {
        height: 46rem;
    }
}
.intro__canvas,
.intro__flowmap,
.intro__cover,
.intro__cover:after {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.intro__canvas {
    background: #1d60a4;
}
.intro__content {
    touch-action: none;
}
.intro__content:before,
.intro__content:after {
    content: "";
    position: absolute;
    z-index: 12;
    top: 0;
    bottom: 0;
    background: #fff;
    width: calc((100vw - 400px) / 2);
}
@media (min-width: 768px) {
    .intro__content:before,
    .intro__content:after {
        width: calc((100vw - 830px) / 2);
    }
}
.intro__content:before {
    left: 0;
}
.intro__content:after {
    right: 0;
}
.intro__flowmap img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.intro__cover {
    pointer-events: none;
    z-index: 30;
    background-image: url(img/intro-layer-bucket.png);
    background-repeat: no-repeat;
    background-size: 435px 384px;
    background-position: center;
}
@media (min-width: 768px) {
    .intro__cover {
        background-size: 835px 736px;
    }
}
.intro__cover:after {
    content: "";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0.02) 13%, rgba(0, 0, 0, 0) 68.23%), transparent;
}
.no-curtains .intro__flowmap {
    display: flex;
    overflow: hidden;
}
.no-curtains .intro__flowmap img {
    display: block;
}
